* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  top: 0;
  border; 0;
}

#main-header {
	background: turquoise;
	color:#fff;
  font-family: "Montserrat";
	height: 100px;
  left: 0;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  width: 100%;
}

#main-header a {
	color: #FFF;
}

#logo-header {
	float: left;
	padding: 20px 0 0 20px;
	text-decoration: none;
}

#logo-header:hover {
	color: #0b76a6;
}

#logo-header .site-name {
	display: block;
	font-weight: 700;
	font-size: 30px;
  padding: 10px 55px;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
  padding: 10px 90px 0 25px;
}

nav ul li {
	display: inline-block;
	line-height: 80px;
}

nav ul li a {
	display: block;
	padding: 0 10px;
	text-decoration: none;
}

nav ul li a:hover {
	background: #18BC9C;
}

.header-image {
  border: 2px red solid;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzd2qVTxNyKWFfhqsSD986mJ5Se2K9MwEj5Sr4HE1hvRLCsj6hFg");
}
